body{
font-family: 'Scheherazade New', serif;
}
.top-container{
  width:100%;
background-color: #cfebfd;
text-align: center;
}
.middle-container{
  margin-top:20px;
  margin-bottom:45px;
  text-align:center;
}
h1{
  font-size: 5.625rem;
  font-family: 'Ephesis', cursive;
  color:#66BFBF;
}
h2{
  font-size:2.5rem;
  color:#66BFBF;
}
.bottom-container{
  text-align:center;
  background-color: #66BFBF;
}
h3{
  color:#11999E;
}
a{
  color:#11999E;
}
.My-Image{
  border:2px solid black;
  width:200px;
  height:250px;
}
.Skill1{
  width:25%;
  float:left;
  margin-right:30px;
}
.Skill2{
  width:35%;
  float:left;;
  margin-right:30px;
}
.skill-row{
  width:50%;
  margin:100px auto;
text-align:left;
}
.Clear1{
  clear:right;
}
.copyright{
  color:#EAF6F6;
}
.footer-link:link,.footer-link:visited{
  color:#11999E;
  font-weight: bold;
  text-decoration: none;
}
.footer-link:hover{
  color:#EAF6F6;
  font-weight: bold;
  text-decoration: none;
}
.btn:visited,.btn:link{
  background-color: #66BFBF;
  color:#EAF6F6;
  padding:5px 20px;
  text-decoration:none;
  border-radius: 10px;
}
.btn:hover{
  background-color: #409999;
  color:#EAF6F6;
  padding:5px 20px;
  text-decoration:none;
  border-radius: 10px;
}
.contact-me{
  font-weight: bold;
}
#clg-link:link,#clg-link:visited{
  color:#11999E;
  font-weight: bold;
  text-decoration: none;
}
#clg-link:hover{
  color:red;
  font-weight: bold;
  text-decoration: none;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-width:5px;
  width:4rem;
  border-color:#EAF6F6;
}
